# Bat
set -x BAT_PAGER "less -RFS"
set -x MANPAGER "sh -c 'sed -u -e \"s/\\x1B\[[0-9;]*m//g; s/.\\x08//g\" | bat -p -lman'"

# Directories
set -x XDG_CONFIG_HOME "$HOME/.config"
set -x XDG_DATA_HOME "$HOME/.local/share"

# Done
set -x __done_min_cmd_duration 4000

# Keys
set -x OP_SERVICE_ACCOUNT_TOKEN {{ .opToken | quote }}
set -x HOMEBREW_GITHUB_API_TOKEN {{ onepasswordRead "op://Shell/Homebrew/token" | quote }}
set -x ANTHROPIC_API_KEY {{ onepasswordRead "op://Shell/Anthropic/credential" | quote }}
set -x TAVILY_API_KEY {{ onepasswordRead "op://Shell/Tavily/credential" | quote }}
set -x OPENAI_API_KEY {{ onepasswordRead "op://Shell/OpenAI/credential" | quote }}

# Colima
set -x DOCKER_HOST unix://{{ .chezmoi.homeDir }}/.config/colima/default/docker.sock

# Colors
set -x LS_COLORS "$(vivid generate catppuccin-mocha)"

# Editor
set -x EDITOR nvim
{{ if eq .chezmoi.os "darwin" -}}
set -x VISUAL subl
{{ end -}}

# Fish AI
set -x FISH_AI_KEYMAP_2 ctrl-a

# FZF theme
set -x FZF_DEFAULT_OPTS "\
--color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 \
--color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
--color=marker:#b4befe,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8 \
--color=selected-bg:#45475a \
--color=border:#313244,label:#cdd6f4 \
--preview \"bat --color=always --style=numbers --line-range=:500 {}\""

# Languages
set -gx LC_ALL en_US.UTF-8

# Starship config
set -x STARSHIP_CONFIG "$HOME/.config/starship/config.toml"

# Zoxide
set -x _ZO_FZF_OPTS "$_FZF_DEFAULT_OPTS --select-1"
