{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
  email = {{ $email | quote }}

[edit]
  command = "nvim"

[git]
  autoCommit = true
  autoPush = true
  commitMessageTemplateFile = ".chezmoitemplates/commit.tmpl"

