{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $opAccount := promptStringOnce . "1Password Account" "Account domain" -}}

[data]
  email = {{ $email | quote }}
  opAccount = {{ $opAccount | quote }}

[edit]
  command = "nvim"

[git]
  autoCommit = true
  autoPush = true
  commitMessageTemplateFile = ".chezmoitemplates/commit.tmpl"

