# Set 1Password token
export OP_SERVICE_ACCOUNT_TOKEN={{ .opToken | quote }}

# Setup path
export PATH="$HOME/.local/bin:$HOME/.lmstudio/bin:$PATH"

# Homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"

# Starship
export STARSHIP_CONFIG=~/.config/starship/starship.toml
eval "$(starship init bash)"
