brew "age"
brew "atuin"
brew "autoconf"
brew "awscli"
brew "bash"
brew "bat"
brew "bat-extras"
brew "borders"
brew "btop"
brew "chafa"
brew "colima"
brew "coreutils"
brew "cosign"
brew "curl"
brew "curlie"
brew "delta"
brew "docker"
brew "docker-compose"
brew "exiftool"
brew "eza"
brew "fastfetch"
brew "fd"
brew "felixkratz/formulae/sketchybar"
brew "ffmpeg"
brew "fish"
brew "fop"
brew "fzf"
brew "gh"
brew "git"
brew "git-extras"
brew "git-lfs"
brew "glow"
brew "gmp"
brew "gnu-sed"
brew "gnu-tar"
brew "ifstat"
brew "imagemagick"
brew "jq"
brew "k9s"
brew "kubecolor"
brew "kubectl"
brew "lazydocker"
brew "lazygit"
brew "libxslt"
brew "libyaml"
brew "luajit"
brew "markdown-toc"
brew "markdownlint-cli2"
brew "miller"
brew "mise"
brew "neovim"
brew "openssl"
brew "ouch"
brew "pngpaste"
brew "poppler"
brew "readline"
brew "reattach-to-user-namespace"
brew "rich"
brew "ripgrep"
brew "sevenzip"
brew "sox"
brew "starship"
brew "tailscale"
brew "tectonic"
brew "terminal-notifier"
brew "terraform-ls"
brew "texlive"
brew "trash-cli"
brew "thefuck"
brew "tmux"
brew "unzip"
brew "usage"
brew "vivid"
brew "watch"
brew "wget"
brew "wxwidgets"
brew "xcodes"
brew "yazi"
brew "zoxide"
{{ if eq .hostname "kenobi" -}}
brew "ollama"
{{ end }}
cask "1password-cli"
cask "nikitabobko/tap/aerospace"
cask "backblaze"
cask "brave-browser"
cask "figma"
cask "font-jetbrains-mono"
cask "font-symbols-only-nerd-font"
cask "hey"
cask "kitty"
cask "obsidian"
cask "raycast"
cask "rustdesk"
cask "setapp"
cask "sf-symbols"
cask "spotify"
cask "sublime-text"
cask "todoist"
cask "tower"
cask "transmit"
cask "yellowdot"


