#!/usr/bin/env bash

echo "Rebuilding bat cache..."
bat cache --build

{{ if eq .chezmoi.os "darwin" -}}
echo "Setting macOS defaults..."
defaults write com.apple.dock auto-hide -bool YES
defaults write -g InitialKeyRepeat -int 15
defaults write -g KeyRepeat -int 2
defaults write NSGlobalDomain _HIHideMenuBar -bool true && killall Finder

magick convert -size 2560x1600 xc:#181825 "$HOME/.local/share/mocha.png"

osascript -e 'tell application "Finder" to set desktop picture to POSIX file "'$HOME/.local/share/mocha.png'"'

sudo scutil --set LocalHostName {{ .hostname }}
sudo scutil --set ComputerName {{ .hostname }}
{{ end -}}
