#!/usr/bin/env bash

echo "Rebuilding bat cache..."
bat cache --build

{{ if eq .chezmoi.os "darwin" -}}
echo "Setting macOS defaults..."
defaults write com.apple.dock auto-hide -bool YES
defaults write -g InitialKeyRepeat -int 15
defaults write -g KeyRepeat -int 2
defaults write NSGlobalDomain _HIHideMenuBar -bool true && killall Finder

magick -size 2560x1600 xc:"#181825" "$HOME/.local/share/mocha.png"

osascript -e 'tell application "Finder" to set desktop picture to POSIX file "'$HOME/.local/share/mocha.png'"'

if [[ $- == *i* ]]; then
  sudo scutil --set LocalHostName {{ .hostname }}
  sudo scutil --set ComputerName {{ .hostname }}
fi

{{ if eq .hostname "kenobi" -}}
sudo pmset -a acwake 0
sudo pmset -a autorestart 1
sudo pmset -a disksleep 0
sudo pmset -a displaysleep 10
sudo pmset -a networkoversleep 1
sudo pmset -a sleep 0
sudo pmset -a ttyskeepawake 1
sudo pmset -a womp 1
{{ end -}}
{{ end -}}
