#!/usr/bin/env bash

{{ if eq .chezmoi.os "darwin" -}}
# Check if Homebrew is installed
check_homebrew() {
  if command -v brew &>/dev/null; then
    echo "Homebrew is already installed."
    return 0
  else
    echo "Homebrew is not installed."
    return 1
  fi
}

# Install Homebrew
install_homebrew() {
  echo "Installing Homebrew..."

  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

  echo "Homebrew installation completed."
}

check_homebrew

if [ $? -ne 0 ]; then
  install_homebrew

  eval "$(/opt/homebrew/bin/brew shellenv)"

  echo "Installing password managers..."
  brew install 1password
  brew install 1password-cli
  op read op://Shell/Age/credential | base64 --decode >$HOME/.local/share/key.txt
fi
{{- end -}}
