{{ if eq .chezmoi.os "darwin" -}}
# macOs fix
alias mopen = ^open
{{ end -}}

# Kubernetes
alias k = k9s -A

# NeoVim
alias vi = nvim
alias vim = nvim

# Tailscale
alias tailscale = /Applications/Tailscale.app/Contents/MacOS/Tailscale
