use std "path add"

# Homebrew
{{ if eq .chezmoi.os "linux" -}}
path add "/home/{{- .chezmoi.username -}}/.linuxbrew/bin"
{{ else if eq .chezmoi.os "darwin" -}}
path add "/opt/homebrew/bin"
{{ end -}}

# Theme
$env.LS_COLORS = (vivid generate catppuccin-mocha)

# Nushell configuration
## Disable welcome banner
$env.config.filesize.unit = "metric"
$env.config.float_precision = 4;
$env.config.highlight_resolved_externals = true
$env.config.show_banner = false
$env.config.use_kitty_protocol = true

## Editor
$env.config.buffer_editor = "nvim"

## Use vi mode
$env.config.edit_mode = 'vi'

# Modules
## Aliases
source ($nu.default-config-dir | path join "aliases.nu")

## Completions
source ($nu.default-config-dir | path join "completions.nu")

## Keybindings
source ($nu.default-config-dir | path join "keybindings.nu")

## Zoxide
source ($nu.data-dir | path join "nu_scripts/custom-menus/zoxide-menu.nu")

# Zellij
def start_zellij [] {
  if 'ZELLIJ' not-in ($env | columns) {
    if 'ZELLIJ_AUTO_ATTACH' in ($env | columns) and $env.ZELLIJ_AUTO_ATTACH == 'true' {
      zellij attach -c
    } else {
      zellij
    }

    if 'ZELLIJ_AUTO_EXIT' in ($env | columns) and $env.ZELLIJ_AUTO_EXIT == 'true' {
      exit
    }
  }
}

start_zellij
