use std "path add"

# Homebrew
{{ if eq .chezmoi.os "linux" -}}
path add "/home/{{- .chezmoi.username -}}/.linuxbrew/bin"
{{ else if eq .chezmoi.os "darwin" -}}
path add "/opt/homebrew/bin"
{{ end -}}

# Nushell configuration
## Disable welcome banner
$env.config.show_banner = false

## Use vi mode
$env.config.edit_mode = 'vi'

# Modules
## Aliases
source ($nu.default-config-dir | path join "aliases.nu")

## Completions
source ($nu.default-config-dir | path join "completions.nu")

## Zoxide
source ($nu.data-dir | path join "nu_scripts/custom-menus/zoxide-menu.nu")
