[general]
working_directory = "~/Code"

# Catppuccin theme
import = ["~/.local/share/alacritty/catppuccin.toml"]

[env]
# Fix terminal colors
TERM = "xterm-256color"
# Use nushell
SHELL = "/opt/homebrew/bin/nu"
XDG_CONFIG_HOME = "{{- .chezmoi.homeDir -}}/.config"
XDG_DATA_HOME = "{{- .chezmoi.homeDir -}}/.local/share"

[window]
startup_mode = "Fullscreen"
option_as_alt = "OnlyLeft"
padding = { x = 16, y = 16 }

[scrolling]
history = 50000

[font]
normal = { family = "Iosevka Nerd Font Mono", style = "Regular" }
size = 13.0

[bell]
animation = "EaseOut"
duration = 200
color = "#cdd6f4"

[selection]
save_to_clipboard = true

[cursor]
style = { shape = "Underline", blinking = "Off" }
vi_mode_style = { shape = "Block", blinking = "Off" }

[terminal]
shell = "/opt/homebrew/bin/nu"

[mouse]
hide_when_typing = true
