[general]
working_directory = "~/Code"

# Catppuccin theme
import = ["~/.local/share/alacritty/catppuccin.toml"]

[env]
TERM = "xterm-256color"
ZELLIJ_AUTO_ATTACH = "true"
ZELLIJ_AUTO_EXIT = "true"

[window]
# TODO: Change to None
decorations = "Buttonless"
startup_mode = "Maximized"
option_as_alt = "OnlyLeft"
padding = { x = 8, y = 8 }

[scrolling]
history = 50000

[font]
normal = { family = "CaskaydiaMono Nerd Font Mono", style = "Regular" }
size = 12.0

[bell]
animation = "EaseOut"
duration = 200
color = "#cdd6f4"

[selection]
save_to_clipboard = true

[cursor]
style = { shape = "Underline", blinking = "Off" }
vi_mode_style = { shape = "Block", blinking = "Off" }

[terminal]
shell = "/opt/homebrew/bin/zsh"

[mouse]
hide_when_typing = true
